.mt-20 {
    margin-top: 20px;
}

.plr-0 {
    padding: 0
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

img {
    width: 100%;
}

.p-top-70 {
    padding-top: 93px;
}

.add1-bg {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}