.verify {
    height: 100%;
    background: url(../../../assets/images/banner/pexels-photo-248159.jpeg) no-repeat;
    background-size: cover;
    .header-main {
        width: 35%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 999;
        top: 35%;
        h1 {
            color: #3ce8b0;
            margin-bottom: 50px;
        }
        .input-custom {
            height: 58px;
            border-radius: 30px;
            background: rgba(24, 24, 24, 0.55);
            color: #fff;
            padding: 0 30px;
            border: none;
            &::placeholder {
                color: #d5d9e2;
            }
        }
        .custom-btn {
            background: #3ce8b0;
            border: none;
            border-radius: 30px;
            padding: 10px 0;
            font-size: 22px;
        }
        .text-error {
            color: #ff4c6a;
            font-size: 16px;
        
        }
    }
}