<div class="verify">
    <div class="header-main">
        <h1>Reset Password</h1>
        <form action="" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input class="form-control input-lg input-custom" placeholder="Password" name="email" type="password"
                    formControlName="password" (keyup)="password($event)">
                <p class="danger-pass text-error" *ngIf="f['password'].invalid && isPassword === 1">Must contain at least one
                    uppercase,
                    one lowercase, one special character and one number</p>
            </div>
            <div class="form-group">
                <input class="form-control input-lg input-custom" placeholder="Re-password" name="rePassword" type="password"
                    formControlName="re_password" (keyup)="re_password($event)">
                <span class="text-error" *ngIf="f.re_password.errors && !isDone"> Invalid Password</span>
                <p class="danger-pass text-error" *ngIf="f['re_password'].invalid && isRePassword === 1">Must contain at least one
                    uppercase,
                    one lowercase, one special character and one number</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block custom-btn" type="submit">Submit</button>
        </form>
    </div>
</div>