<a class="event-box-bg" href="" data-toggle="modal" data-target=".bs-modal-reserved">
    <div class="row m-0 event-box-bg-inner">
        <div class="col-3 p-0 height">
            <img src="../../../../assets/user-info.jpg">
            <span class="categorey wishlist">In Reserved</span>
        </div>
        <div class="col-9 p-0 height">
            <div class="row height-bot-1">
                <div class="col-4 Ebox-details1">
                    <div>
                        <h3>Year end Beach Party </h3>
                        <h5>Soliso Beach Sentosa </h5>
                        <p>31 December 2018 8pm onwards</p>
                    </div>
                </div>
                <div class="col-4 Ebox-details1">
                    <div>
                        <h3>Budget Starting $25000 </h3>
                        <h5>Expected Atendees 2500 </h5>
                        <p>Partnership Opperchunties 234 </p>
                    </div>
                </div>
                <div class="col-4 Ebox-details2">
                    <div>
                        <h3 class="wishlist">14 Days left</h3>
                        <p>tags1, tags2, maximum 2 tags</p>
                    </div>
                </div>

            </div>
            <div class="row height-bot-2">
                <div class="col-8">
                    <div class="event-bot-btn-left">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to
                            make a type specimen book.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="event-bot-btn-bg">
                        <button class="reserved-bt reserved-bg btn-border-r2 waves-effect waves-dark hvr-shutter-out-vertical">Reserved</button>
                        <button class="reserved-cancel wishlist-bg btn-border-r1 hvr-shutter-out-vertical-left">Wishlist</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>