.card-title-buyer {
    font-size: 14px;
    color: #000;
    margin-top: 15px;
}

.card {
    border-color: #dadada;
    border-radius: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        .card-text {
            color: #747d8a;
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
        }
        .card-title {
            margin-bottom: .75rem;
            color: #2d2d2d;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: .75rem;
            line-height: 22px;
            .btn-outline-danger {
                color: #E72F4C;
                background-color: transparent;
                border-color: #E72F4C;
                box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
                transition: 0.2s ease-in;
                text-transform: capitalize;
                border-width: 1px;
                font-weight: 100;
                &:hover {
                    background: #E72F4C;
                    border-color: #E72F4C;
                    color: #ffffff;
                    box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
                }
            }
        }
        .card-subtitle {
            font-weight: 300;
            margin-bottom: 15px;
            color: #626c71;
            font-size: 12px;
            position: relative;
            top: -8px;
        }
        .form-control {
            border-color: rgba(120, 130, 140, 0.13);
            background-color: #263238;
            color: #747d8a;
            min-height: 38px;
            display: initial;
            padding: 10px;
            &::-webkit-input-placeholder {
                color: #ddd;
            }
        }
    }
}

.danger-pass {
    color: #E72F4C;
    margin-top: 5px;
}

.btn-action {
    cursor: pointer;
}

.p-top-70 {
    padding-top: 90px;
}

.table {
    font-size: 16px;
    th {
        border: 0;
        font-weight: 400;
        color: #747d8a;
    }
    thead {
        th {
            border: 0;
            font-weight: 400;
        }
    }
    td {
        border-color: rgba(120, 130, 140, 0.13);
        font-weight: 300;
        color: #747d8a;
        line-height: 1.5;
        a {
            color: #ca6d7d;
            margin-left: 5px;
        }
    }
}

.modal-header {
    border-color: rgba(120, 130, 140, 0.13);
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5; // color: #ffffff;
        font-weight: 400;
        font-size: 18px;
    }
    .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: black;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
}

form {
    .form-group {
        margin-bottom: 25px;
    }
    label {
        font-weight: 400;
        color: #747d8a;
        font-size: 16px;
    }
    .form-control {
        color: black;
        background-color: transparent;
        background-position: center bottom, center calc(100% - 1px);
        background-repeat: no-repeat;
        background-size: 0 2px, 100% 1px;
        padding: 15px;
        transition: background 0s ease-out 0s;
        background-image: linear-gradient(#009efb, #009efb), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        float: none;
        border: 1px solid #d8d8d8;
        color: #747d8a;
        min-height: 38px;
        display: initial;
        font-size: 16px;
        &:focus {
            background-image: linear-gradient(#009efb, #009efb), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
            border-radius: 0;
            box-shadow: none;
            float: none;
            background-color: white;
            background-size: 100% 2px, 100% 1px;
            outline: 0 none;
            transition-duration: 0.3s;
        }
    }
    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        .btn-file {
            z-index: 1;
            position: relative;
            input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                font-size: 23px;
                height: 100%;
                width: 100%;
                direction: ltr;
                cursor: pointer;
                border-radius: 0px;
            }
        }
        .btn {
            vertical-align: middle;
            padding: 7px 12px;
            font-size: 14px;
            cursor: pointer;
        }
        .fileinput-exists {
            display: none;
        }
        .input-group-addon {
            border: none;
            border-bottom: 1px solid rgba(120, 130, 140, 0.13);
            background: transparent;
            margin-bottom: 1px;
            color: #747d8a;
        }
        .input-group>.custom-select:not(:last-child),
        .input-group>.form-control:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.modal-footer {
    border-color: rgba(120, 130, 140, 0.13);
    .btn-outline-danger {
        color: #E72F4C;
        background-color: transparent;
        border-color: #E72F4C;
        box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
        transition: 0.2s ease-in;
        text-transform: capitalize;
        border-width: 1px;
        font-weight: 100;
        &:hover {
            background: #E72F4C;
            border-color: #E72F4C;
            color: #ffffff;
            box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
        }
        svg {
            margin-right: 5px;
        }
    }
}

.btn {
    vertical-align: middle;
    padding: 9px 12px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.btn-cancel-list {
    background: rgba(255, 255, 255, 0.17);
    color: #6f7477;
    text-transform: capitalize;
    &:hover {
        color: #6f7477;
    }
}