label {
    color: #69727e;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-danger {
    color: #fc4b6c !important;
    font-size: 16px;
    font-weight: 400;
}

.h-100 {
    height: 100px;
}

.file-upload {
    background-color: #ececec;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    .file-upload-btn {
        width: 100%;
        margin: 0;
        color: #fff;
        background: #1FB264;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #15824B;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #1FB264;
        position: relative;
        &:hover {
            background-color: #1FB264;
            border: 4px dashed #ffffff;
        }
        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }
        .drag-text {
            text-align: center;
            h3 {
                font-weight: 100;
                text-transform: uppercase;
                color: #15824B;
                padding: 60px 0;
            }
        }
    }
    .file-upload-content {
        text-align: center;
        .file-upload-image {
            height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }
        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
            .remove-image {
                width: 200px;
                margin: 0;
                color: #fff;
                background: #cd4535;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #b02818;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

.btn {
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
}

.btn-success,
.btn-success.disabled {
    text-transform: capitalize;
    background: #26c6da;
    border: 1px solid #26c6da;
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    transition: 0.2s ease-in;
    &:hover {
        background: #26c6da;
        box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
        border: 1px solid #26c6da;
    }
}

.btn-corner {
    border-radius: 0 0 3px 3px !important;
}

.btn-danger,
.btn-danger.disabled {
    background: #E72F4C;
    border: 1px solid #E72F4C;
    box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
    transition: 0.2s ease-in;
    &:hover {
        background: #E72F4C;
        box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
        border: 1px solid #E72F4C;
    }
}

.modal-enven {
    .form-group {
        margin-bottom: 25px;
        .form-control {
            color: #747d8a;
            min-height: 38px;
            display: initial;
            background-color: #f5f5f5;
            box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
            border: 1px solid #d8d8d8;
            &:focus {
                color: #495057;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
            }
        }
    }
}

.select2-results__option {
    padding: 6px;
}

.select2-container--classic .select2-results .select2-results__options {
    background: #383f48;
    padding: 0;
}

.select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    // background-color: #383f48;
    border-color: rgba(120, 130, 140, 0.13);
    padding: 3px 5px;
    font-size: 16px;
    color: #747d8a;
}

.modal-dialog {
    .modal-content {
        .modal-body {
            .select2-container--classic .select2-search--inline .select2-search__field {
                background: none;
                font-size: 22px;
            }
            .table {
                th {
                    border: 0;
                    color: #747d8a;
                    font-weight: 500;
                    font-size: 16px;
                }
                tr {
                    transition: all ease 0.3s;
                    cursor: pointer;
                    &:hover {
                        background: rgba(255, 205, 205, 0.2);
                    }
                }
                td {
                    border-color: rgba(120, 130, 140, 0.13);
                    padding: .75rem;
                    font-size: 16px;
                    color: #747d8a;
                    vertical-align: top;
                    font-weight: 100;
                }
            }
        }
        .modal-footer {
            border-top: 1px solid rgba(120, 130, 140, 0.13);
            .btn {
                padding: 5px 12px;
                font-size: 14px;
                line-height: 22px;
                text-transform: capitalize;
            }
            .btn-outline-danger {
                color: #fc4b6c;
                background-color: transparent;
                border-color: #fc4b6c;
                box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
                transition: 0.2s ease-in;
                &:hover {
                    background: #fc4b6c;
                    border-color: #fc4b6c;
                    color: #ffffff;
                    box-shadow: 0 14px 26px -12px rgba(239, 83, 80, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 83, 80, 0.2);
                }
            }
            .btn-primary {
                background: #7460ee;
                border: 1px solid #7460ee;
                box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
                transition: 0.2s ease-in;
                &:hover {
                    background: #7460ee;
                    box-shadow: 0 14px 26px -12px rgba(116, 96, 238, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(116, 96, 238, 0.2);
                    border: 1px solid #7460ee;
                }
                .btn-label {
                    background: rgba(0, 0, 0, 0.05);
                    display: inline-block;
                    margin: -6px 12px -6px -14px;
                    padding: 7px 15px;
                }
            }
        }
    }
}

.p-0 {
    padding: 0;
}

.prec {
    position: absolute;
    right: 7px;
    top: 6px;
    font-size: 16px;
    color: #6c757d;
}

.prec2 {
    position: absolute;
    right: 40px;
    top: 35px;
    font-size: 16px;
    color: #6c757d;
}

.radio {
    label {
        font-size: 16px;
        line-height: 1.5;
        input {
            margin-right: 10px;
        }
    }
}

.range-separation {
    float: left;
    padding: 4px 15px 12px 15px;
    margin: 5px 15px;
    background: #f6f7f7;
    width: calc(100% - 30px);
    border: 1px solid #eaecec;
}

.range-separation .range-slider-text {
    font-size: 14px;
    color: #6f7477;
    margin: 0;
    font-weight: 100;
    .switch {
        label {
            font-weight: normal;
            font-size: 13px;
            input[type=checkbox] {
                opacity: 0;
                width: 0;
                height: 0;
            }
            [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
            input[type=checkbox]:checked+.lever {
                background-color: #84c7c1;
            }
            .lever {
                margin: 0 14px;
            }
            .lever {
                content: "";
                display: inline-block;
                position: relative;
                width: 40px;
                height: 15px;
                background-color: #818181;
                border-radius: 15px;
                margin-right: 10px;
                transition: background 0.3s ease;
                vertical-align: middle;
                margin: 0 16px;
                &::after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    background-color: #F1F1F1;
                    border-radius: 21px;
                    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
                    left: -5px;
                    top: -3px;
                    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
                }
            }
            input[type=checkbox]:checked+.lever:after {
                background-color: #26a69a;
                left: 24px;
            }
        }
    }
}

.m-b-30 {
    margin-bottom: 30px;
}

.bootstrap-tagsinput {
    width: 100%;
    min-height: 39px;
}

.bootstrap-tagsinput {
    background-color: #f5f5f5;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid #d8d8d8;
    display: inline-block;
    padding: 2px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    background-color: #263238;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: 100%;
    max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

tag-input {
    width: 100%;
    padding: 4px 6px;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    color: #747d8a;
    min-height: 38px;
    display: initial;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
    border: 1px solid #d8d8d8;
    cursor: text;
}